* {
  box-sizing: border-box;
}
html, body {
  font-size: 13.5px;
  min-width: 320px; /* prevents layout from breaking on tiny screens */
}
.movie-find-form {
  
}
.movie-list {
  -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
  -moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75); 
}
.movie-button {
  font-family: 'wagner';
  font-size: 175%;
  letter-spacing: 3px;
  word-spacing: 5px; /*8px*/
  text-align: center;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  width: 100%;
}
.rating-icon {
  float: left;
}
.fa-heart {
  color: rgba(255, 0, 0, 0.8);
}
/* .movie-title {
  text-align: center;
} */
@font-face {
  font-family: wagner;
  src: url(wagner-zip-change.ttf);
  font-style: normal;
}

#movietitle {
  font-family: 'Special Elite', cursive;
  font-size: 200%;
}
::placeholder {
  font-family: 'Special Elite', cursive;
  text-overflow: ellipsis;
}
