* {
  box-sizing: border-box;
}
html, body {
  font-size: 13.5px;
  min-width: 320px; /* prevents layout from breaking on tiny screens */
  color: white;
  background-color: black;
  transition: all .7s;
}
.video-wrapper {
  /* padding-bottom: 56.25%; */
}
.video-screen {
  position: relative;
  width: 100%;
  /* height: calc(80vw * .5625); */
  /* width: 100%;
  height: 100%; */
  margin: auto;
  /* padding-top: 56.25%; */
  margin-top: 1.25rem;
  text-align: center;
  color: black;
  background-color: rgb(246, 246, 244);
  -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 227, 0.75);
  -moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 227, .75);
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 227, .75); 
  /* background-image: url(..\image\still-frame.jpg); */
  /* background-color: white; */
  /* border-style: solid; */
  
}
.film-leader {
  margin-top: 1.25rem;
}
/* NOT CURRENTLY USED */
.video-glow {
  background-color: white;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 227, 0.75);
  -moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 227, .75);
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 227, .75); 
}

.video-text {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.dynamic-buttons, .film-buttons {
  position: relative;
  overflow: hidden;
  font-family: 'bebas';
  font-size: 0pt; /*Removes gap between buttons*/
  font-weight: bold;
  text-align: center;
}
.keep-below-screen {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(80vw * .5625 + 1.25rem);
}
nav {
  color: white;
  background-color: black;
}
.chair-buttons {
  position: fixed;
  overflow: hidden;
  bottom: 0px;
  width: 100%;
  font-size: 0px; /*Removes gap between buttons*/
  text-align: center;
  
}
.hidden {
  display: none;
  /* visibility: hidden; */
}
.chair {
  /* display:block; */
  float: left;
  width: 20rem;
  max-width: calc(33vw);
  height: calc(20rem / 2.2);
  max-height: calc(33vw / 2.2); /* prevents chairs from floating if screen becomes too tall */
  /* starting point */
  /* width: calc(33vw);
  max-width: calc(33vw);
  height: calc(33vw / 2.54); */
  background:url(../image/new-chair-2.png) 0 0 no-repeat;
  background-size: 100%;
  color: rgb(255, 255, 255);
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-weight: 600;
  padding-top: 2.1em;
}
.chair-plaque {
  /* display:block; */
  float: left;
  width: 20rem;
  max-width: calc(33vw);
  height: calc(20rem / 2.2);
  max-height: calc(33vw / 2.2); /* prevents chairs from floating if screen becomes too tall */
  /* starting point */
  /* width: calc(33vw);
  max-width: calc(33vw);
  height: calc(33vw / 2.54); */
  background:url(../image/new-chair-2-new-plaque-3.png) 0 0 no-repeat;
  background-size: 100%;
  color: rgb(36, 33, 33);
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-weight: bolder;
  padding-top: 2.4em;
}
.inline {
  display: inline-block;
}
button {
  /* display: inline-block; */
  border: none;
  padding: 0rem 0rem;
  margin: 0;
  /* text-decoration: none; */
  /* background: #0069ed; */
  /* color: #ffffff; */
  /* font-family: sans-serif; */
  /* font-size: 1rem; */
  cursor: pointer;
  /* text-align: center; */
  /* transition: background 250ms ease-in-out, 
              transform 150ms ease; */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  /* background: #0053ba; */
}

button:focus {
  /* outline: 1px solid #fff;
  outline-offset: -4px; */
}

button:active {
  transform: scale(0.99);
}

#sign-in {
  background:url(../image/ticket-1.png);
  background-repeat: no-repeat;
  background-size: 13.1rem auto;
  background-color: rgb(13, 172, 212);
  width: 13rem;
  height: 6.5rem;
  border: 0;
  margin-top: 2.5rem;
  font-size: 22.5pt;
  font-weight: bold;
  color: rgb(14, 14, 14);
}
#sign-up {
  background:url(../image/ticket-2.png);
  background-repeat: no-repeat;
  background-size: 13.1rem auto;
  background-color: rgb(226, 190, 32);
  width: 13rem;
  height: 6.5rem;
  border: 0;
  margin-top: 2.5rem;
  font-size: 22.5pt;
  font-weight: bold;
  color: rgb(14, 14, 14);
}
#preview {
  background:url(../image/ticket-3.png);
  background-repeat: no-repeat;
  background-size: 13.1rem auto;
  background-color: rgb(34, 207, 45);
  width: 13rem;
  height: 6.5rem;
  border: 0;
  margin-top: 2.5rem;
  font-size: 22.5pt;
  font-weight: bold;
  color: rgb(14, 14, 14);
}
.chair-button-wrapper {
  width: 300rem;
  transform: translateX(calc((300rem - 100vw)* -.5));
}
.film-button-wrapper {
  top: 0px;
  /* width: 216rem;
  transform: translateX(calc((216rem - 100vw)* -.5)); */
}
.film {
  float: left;
  background:url(../image/film-medium-a4.png);
  background-repeat: no-repeat;
  background-size: cover; /* 12rem auto; */
  width: 12rem;
  max-width: 33vw;
  height: calc(12rem / 1.338);/* 8.97rem; */
  max-height: calc(33vw / 1.338);
  border: 0;
  font-size: 21pt;
  font-weight: normal;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px #000000;
}
.news {
  background-color: #f9f7f1;
}
.movie-find-form {
  
}
.movie-list {
  width: 65%;
  margin: auto;
  text-align: center;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
  -moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75); 
}
.movie-button {
  font-family: 'wagner';
  font-size: 175%;
  letter-spacing: 3px;
  word-spacing: 5px; /*8px*/
  text-align: center;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid gray;
  width: 100%;
}
.rating-icon {
  /* float: left; */
}
.fa-heart {
  color: rgba(255, 0, 0, 0.8);
}
/* .movie-title {
  text-align: center;
} */
@font-face {
  font-family: wagner;
  src: url(wagner-zip-change.ttf);
  font-style: normal;
}
@font-face {
  font-family: bebas;
  src: url(bebas-neue.otf);
  font-style: normal;
}

#movietitle {
  font-family: 'Special Elite', cursive;
  font-size: 200%;
}
::placeholder {
  font-family: 'Special Elite', cursive;
  text-overflow: ellipsis;
}
.row {
  max-width: 1200px;
  min-width: 320px;
  padding-left: 2.8%;
  padding-right: 2.8%;
  margin: 0 auto;
}
.col-12 {
  float: left;
  padding-left: 4%;
  padding-right: 4%;
  width: 100%;
  margin-bottom: 40%;
}